<?xml version="1.0" encoding="UTF-8"?>
<suite parallel="false" name="nopCommerce Regression Suite" preserve-order="false">
<parameter name="browser" value="chrome"></parameter>
  <test name="registration test">
    <classes>
      <class name="tests.EmailProductToFriendTest" />
      <class name="tests.UserRegistrationTestWithDDT_JavaFaker" />
      <class name="tests.ContactUsTest" />
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
